{% extends 'base.html.twig' %}

{% block title %}Ma première page Symfony{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ma première page Symfony</h1>
    <h3>Bonjour cher/chère {{nom}}  </h3>
</div>
{% endblock %}
